{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'management_system/main.css' %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>MedLink</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div class="wrapper">
      <div class="sidebar">
        <div class="logo">
          <h2>MedLink</h2>
        </div>
        <ul class="nav-links">
          {% if user.role == 'doctor' %}
          <li>
            <a href="{% url 'doctor-dashboard' %}"
              ><i class="fa-solid fa-house"></i> <span> Dashboard</span></a
            >
          </li>
          <li>
            <a href="{% url 'doctor-profile' %}"
              ><i class="fa-solid fa-user"></i><span> Profile</span></a
            >
          </li>
          <li>
            <a href="{% url 'doctor-appointments' %}"
              ><i class="fa-solid fa-clipboard"></i
              ><span> Appointments</span></a
            >
          </li>
          <li>
            <a href="{% url 'patient-records' %}"
              ><i class="fa-solid fa-history"></i
              ><span> Patient Records</span></a
            >
          </li>
          <li class="auth-btns">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="logout-btn">
                <i class="fa-solid fa-arrow-right-from-bracket"></i
                ><span> Logout</span>
              </button>
            </form>
          </li>
          {% elif user.role == 'patient' %}
          <li>
            <a href="{% url 'patient-dashboard' %}"
              ><i class="fa-solid fa-house"></i><span> Dashboard</span></a
            >
          </li>
          <li>
            <a href="{% url 'patient-profile' %}"
              ><i class="fa-solid fa-user"></i><span> Profile</span></a
            >
          </li>
          <li>
            <a href="{% url 'medical-report' %}"
              ><i class="fa-solid fa-notes-medical"></i
              ><span> Medical Report</span></a
            >
          </li>
          <li>
            <a href="{% url 'ai-assistant' %}"
              ><i class="fa-solid fa-robot"></i><span> Ai Assistant</span></a
            >
          </li>
          <li>
            <a href="{% url 'medical-history' %}"
              ><i class="fa-solid fa-clock-rotate-left"></i
              ><span> Medical History</span></a
            >
          </li>
          <li class="auth-btns">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="logout-btn">
                <i class="fa-solid fa-arrow-right-from-bracket"></i
                ><span> Logout</span>
              </button>
            </form>
          </li>
          {% else %}
          <li>
            <a href="{% url 'home-page' %}"
              ><i class="bx bx-home"></i><span> Home</span></a
            >
          </li>
          <li>
            <a href="{% url 'register' %}"
              ><i class="bx bx-home"></i><span> Register</span></a
            >
          </li>
          <li>
            <a href="{% url 'login' %}"
              ><i class="bx bx-home"></i><span> Login</span></a
            >
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="main-content">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" id="message-container">
          {{ message }}
        </div>
        {% endfor %} {% endif %} {% block content %}{% endblock %}
      </div>
    </div>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-content">
          <div class="footer-section-about">
            <h2>About Us</h2>
            <p>Book appointment with experienced doctors with ease.</p>
          </div>
          <div class="footer-section-links">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
          <div class="footer-section-contact">
            <h2>Contact Us</h2>
            <p><box-icon name="current-location"></box-icon> Abuja</p>
            <p><box-icon name="envelope"></box-icon> ad123eg456@gmail.com</p>
            <p><box-icon name="phone"></box-icon> +234 806 841 9918</p>
          </div>
        </div>
        <div class="footer-bottom">
          &copy; 2025 MedLink | All rights reserved.
        </div>
      </div>
    </footer>
    <script type="text/javascript">
      setTimeout(function () {
        const messageContainer = document.getElementById("message-container");
        if (messageContainer) {
          messageContainer.style.display = "none";
        }
      }, 5000);
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz4fnFO9gyb4pdogXx4ITyO91D/pBz0p5zzj0h5fJkSTe1m3eRbmprh3Xv"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-QmrVhtQZgi8Zi2gu2bB1+LrZ7kY+0XcF6EVTBrDpt1JokQO3lK3IB/4EgmgS7A4r"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
