{% extends "management_system/base.html" %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'management_system/patient-records.css' %}"
/>
<div class="patient-records-body">
  <h1>Patient Records</h1>
  <div class="patient-records-body-content">
    <table class="patient-records-table">
      <thead>
        <tr>
          <th class="appointments-table-header">ID</th>
          <th class="appointments-table-header">Full Name</th>
          <th class="appointments-table-header">Gender</th>
          <th class="appointments-table-header">Date of Birth</th>
          <th class="appointments-table-header">Blood Group</th>
          <th class="appointments-table-header">Allergies</th>
          <th class="appointments-table-header">View</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in patients %}
        <tr class="doctor-appointments-row">
          <td class="appointments-content">{{ patient.id }}</td>
          <td class="appointments-content">{{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}</td>
          <td class="appointments-content">{{ patient.gender }}</td>
          <td class="appointments-content">{{ patient.date_of_birth }}</td>
          <td class="appointments-content">{{ patient.blood_group }}</td>
          <td class="appointments-content">{{ patient.allergies }}</td>
          <td class="appointments-content"><a href="{% url 'view-patient-records' patient.id %}">View</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}